<ul>
  {{#if currentUser}}
    <nav class="flex items-center flex-wrap bg-[#0F1538] justify-between p-5 border-solid border-b-2 border-[#101F5E]">
        <p class="text-2xl">Journality</p>
        <div class="block float-right space-x-5">
            <a class="hover:text-[#5696FF]" href="index">Home</a>
            <a class="hover:text-[#5696FF]" href="{{current.user}}">Journal</a>
            <a class="hover:text-[#5696FF]" href="/aboutme">About me</a>
        </div>  
    </nav>
    <h1 class ="text-3xl text-center p-5 underline  text-left" >About us</h1>

    <div class="flex items-start justify-center h-screen space-x-6">
        <div class="flex justify-center rounded-md bg-[#0F1538] shadow-xl border-solid border-2 border-[#101F5E] hover:text-[#5696FF]">
          <span class="p-3">
               <a href="github.com/cardogg">
                  <img class="mx-auto"src="index.jpeg" alt="cat">
                   <p class="text-center text-2l">Ricardo Gonzalez</p>
                   <p class="text-center text-2l">Email: rickardo@csu.fullerton.edu</p>
                  <p class="text-center text-2l">Github: cardogg</p>
               </a>
            </span>
        </div>

        <div class="flex justify-center rounded-md bg-[#0F1538] shadow-xl border-solid border-2 border-[#101F5E] hover:text-[#5696FF]">
          <span class="p-3">
               <a href="github.com/cardogg">
                  <img class="mx-auto"src="index.jpeg" alt="cat">
                   <p class="text-center text-2l">Ricardo Gonzalez</p>
                   <p class="text-center text-2l">Email: rickardo@csu.fullerton.edu</p>
                  <p class="text-center text-2l">Github: cardogg</p>
               </a>
            </span>
        </div>
    </div>
  {{else}}
    <nav class="flex items-center flex-wrap bg-[#0F1538] justify-between p-5 border-solid border-b-2 border-[#101F5E]">
        <p class="text-2xl">Journality</p>
        <div class="block float-right space-x-5">
            <a class="hover:text-[#5696FF]" href="index">Home</a>
            <a class="hover:text-[#5696FF]" href="#">About me</a>
        </div>  
    </nav>

    <h1 class ="text-3xl text-center p-5 underline  text-left" >About us</h1>

    <div class="flex items-start justify-center h-screen space-x-8">
        <div class="flex justify-center rounded-md bg-[#0F1538] shadow-xl border-solid border-2 border-[#101F5E] hover:text-[#5696FF]">
          <span class="p-3">
               <a href="github.com/cardogg">
                  <img class="mx-auto"src="index.jpeg" alt="cat">
                   <p class="text-center text-2l">Ricardo Gonzalez</p>
                   <p class="text-center text-2l">Email: rickardo@csu.fullerton.edu</p>
                  <p class="text-center text-2l">Github: cardogg</p>
               </a>
            </span>
        </div>

        <div class="flex justify-center rounded-md bg-[#0F1538] shadow-xl border-solid border-2 border-[#101F5E] hover:text-[#5696FF]">
          <span class="p-3">
               <a href="github.com/cardogg">
                  <img class="mx-auto"src="index.jpeg" alt="cat">
                   <p class="text-center text-2l">Ricardo Gonzalez</p>
                   <p class="text-center text-2l">Email: rickardo@csu.fullerton.edu</p>
                  <p class="text-center text-2l">Github: cardogg</p>
               </a>
            </span>
        </div>
    </div>
    {{/if}}
</ul>